<%= simple_form_for [@task.project, @task], url: project_task_path(@task.project, @task), remote: true do |f| %>

  <div class="form-group row">
    <div class="col-md-6">
      <%= f.input :name %>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-md-12">
      <%= f.input :parallelizable, label: "Can be run in parallel?" %>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-md-12">
      <%= f.input :command, as: :string %>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-md-12">
      <%= f.input :env, input_html: { rows: 4 }, label: 'Environment variables', hint: 'One variable per line' %>
    </div
  </div>

  <div class="form-group">
    <div class="col-md-12">
      <%= f.submit class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
