<%= content_tag_for :tr, build do %>
  <td><%= link_to build.project.name, build.project %></td>
  <td><%= link_to "Build ##{build.id}", build %></td>
  <td><%= link_to build.user.name, build.user %></td>
  <td><%= render '/builds/status', build: build %></td>
  <td><%= revision_link build.project, build.revision %></td>
  <td>
    <% if build.project.deploy_environments.any? %>
      <%= form_for @deploy, remote: true do |f| %>
        <%= deploy_env_select_for(build.project) %>
        <%= f.submit "Deploy", class: "btn btn-danger", confirm: "Are you sure?" %>
      <% end %>
    <% end %>
  </td>
<% end %>
