<%= job_tag job do %>
  <td>
    <%= link_to job do %>
      Job #<%= job.number %>
    <% end %>
  </td>
  <td>
    <%= job.task.name %>
  </td>
  <td>
    <%= link_to job do %>
    <%= render partial: 'status', object: job %>
    <% end %>
  </td>
<% end %>
