<% last_deploy = environment.last_deploy %>

<%= content_tag_for :tr, environment do %>
  <td><%= link_to environment.name, environment %></td>

  <% if last_deploy %>
    <td>
      <%= revision_link last_deploy.project, last_deploy.revision, truncate: true %>
    </td>

    <td>
      <%= link_to last_deploy.user.name, last_deploy.user %>
    </td>

    <td>
      <%= render "/deploys/status", deploy: last_deploy %>
    </td>

  <% else %>
    <td>Not deployed yet.</td>
    <td></td>
    <td></td>
  <% end %>

  <td>
    <%= environment.available? ? "Yes" : "No" %>
  </td>

  <td>
    <%= link_to 'Edit', edit_deploy_environment_path(environment) %> |
    <%= link_to 'Delete', deploy_environment_path(environment), method: 'delete', remote: true, confirm: 'Are you sure?' %>
  </td>
<% end %>
