<!DOCTYPE html>
<html>
<head>
  <title>Droborg</title>
  <%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Lato:300,400,700" %>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <main id="main" class="container">
    <%= render 'flash' unless flash.empty? %>

    <%= yield %>
  </main>
</body>
</html>